body, html {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 2px;
    height: 100%;
    box-sizing: border-box;
  }
  
  * {
    box-sizing: border-box;
  }
  
  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 100px;
  }
  
  .merchant-home-page {
    max-width: 1200px;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  
  .sales-summary,
  .credit-offer {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }
  
  .sales-summary h2,
  .credit-offer h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
  }
  
  .sales-summary p,
  .credit-offer p {
    margin: 0 0 10px;
    color: #666;
  }
  
  button {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #005f5f;
  }