.parafin-container {
    display: flex;
    flex-direction: column; /* Adjust the flex direction to column to allow width stretching */
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 75px; /* Added padding at the top */
}

.parafin-element {
    width: 80%;
    max-width: 800px;
}