.parafin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 75px;
}

.parafin-element {
    width: 80%;
    max-width: 800px;
}