.box {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  margin-top: 60px;
  width: 550px;
  height: 200px;
  text-align: center;
}

.heading,
.message,
.button {
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #008CBA;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #005f5f;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}